/*Only Spinner Bubble*/
/*Global Variables*/
/*Colors*/
/*Box Size*/
/*Speed*/
/*Global Mixins*/
/*Global Spinner*/
.cp-spinner {
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
/*Bubble Spinner*/
.cp-bubble {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: border-box;
  background: #58bd55;
  animation: cp-bubble-animate 1s linear infinite;
}
.cp-bubble:before {
  border-radius: 50%;
  content: " ";
  width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #58bd55;
  position: absolute;
  left: -30px;
  animation: cp-bubble-animate-before 1s ease-in-out infinite;
}
.cp-bubble:after {
  border-radius: 50%;
  content: " ";
  width: 24px;
  height: 24px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #58bd55;
  position: absolute;
  right: -30px;
  animation: cp-bubble-animate-after 1s ease-in-out infinite;
}
/*Bubble Spinner Animation*/
@keyframes cp-bubble-animate {
  0% {
    opacity: .5;
    transform: scale(1) translateX(0px);
  }
  25% {
    opacity: 1;
    transform: scale(1.1) translateX(-15px);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) translateX(15px);
  }
  100% {
    opacity: .5;
    transform: scale(1) translateX(0px);
  }
}
@keyframes cp-bubble-animate-before {
  0% {
    opacity: .5;
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cp-bubble-animate-after {
  0%,
  50% {
    opacity: .5;
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
